<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Sonet</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>default_light</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>default_light-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>default_dark</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>default_dark-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>core_aurora</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>core_aurora-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>core_bonfire</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>core_bonfire-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>core_sunrise</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>core_sunrise-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>core_sunset</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>core_sunset-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>core_midnight</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>core_midnight-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>core_flat_blue</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>core_flat_blue-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>core_flat_white</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>core_flat_white-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>core_flat_black</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>core_flat_black-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
        <key>core_classic</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>core_classic-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <true/>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleLocalizations</key>
    <array>
      <string>en</string>
      <string>an</string>
      <string>ast</string>
      <string>ca</string>
      <string>cy</string>
      <string>da</string>
      <string>de</string>
      <string>el</string>
      <string>eo</string>
      <string>es</string>
      <string>eu</string>
      <string>fi</string>
      <string>fr</string>
      <string>fy</string>
      <string>ga</string>
      <string>gd</string>
      <string>gl</string>
      <string>hi</string>
      <string>hu</string>
      <string>ia</string>
      <string>id</string>
      <string>it</string>
      <string>ja</string>
      <string>km</string>
      <string>ko</string>
      <string>ne</string>
      <string>nl</string>
      <string>pl</string>
      <string>pt-BR</string>
      <string>pt-PT</string>
      <string>ro</string>
      <string>ru</string>
      <string>sv</string>
      <string>th</string>
      <string>tr</string>
      <string>uk</string>
      <string>vi</string>
      <string>yue</string>
      <string>zh-Hans</string>
      <string>zh-Hant</string>
    </array>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleSpokenName</key>
    <string>Blue Sky</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>sonet</string>
          <string>xyz.blueskyweb.app</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>exp+sonet</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>EXDefaultScreenOrientationMask</key>
    <string>UIInterfaceOrientationMaskPortrait</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>Used for profile pictures, notes, and other kinds of content.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Used for notes and other kinds of content.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Used to save images to your library.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Used for profile pictures, notes, and other kinds of content</string>
    <key>UIAppFonts</key>
    <array>
      <string>InterVariable.woff2</string>
      <string>InterVariable-Italic.woff2</string>
      <string>Inter-Regular.otf</string>
      <string>Inter-Italic.otf</string>
      <string>Inter-SemiBold.otf</string>
      <string>Inter-SemiBoldItalic.otf</string>
      <string>Inter-ExtraBold.otf</string>
      <string>Inter-ExtraBoldItalic.otf</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
      <string>fetch</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>